
div.container {
    border: 5px solid blue;
    color: white;
    background-color: blue;
    padding: 0.8em 0.8em 0.6em;
}

/* landingPage.html */

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  h1, label, input[type="date"], input[type="text"], input[type="submit"] {
    color: white;
  }

  form {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  input[type="date"],
  input[type="text"],
  input[type="submit"] {
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
  }